---
import '@/styles/global.css'
import { Content, getHeadings } from '@/content/human-practices/index.mdx'
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro'
import Sidebar from '@/components/Sidebar.astro'
---

<ThreeColumnLayout
  headerIconSrc="https://static.igem.wiki/teams/5708/headericons/wet-lab.webp">
  <Sidebar headings={getHeadings()} slot="sidebar" />
  <div slot="main">
    <Content />
  </div>
</ThreeColumnLayout>
