---
import '@/styles/global.css'
import { Content, getHeadings, frontmatter } from '@/content/wet-lab/parts.mdx'
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro'
import Sidebar from '@/components/Sidebar.astro'
import SubpageNavigation from '@/components/SubpageNavigation.astro'
import References from '@/components/References.astro'
---

<ThreeColumnLayout>
  <Sidebar headings={getHeadings()} slot="sidebar" />
  <SubpageNavigation
    links={[
      { href: '/wet-lab', text: 'Goals & Purpose' },
      { href: '/wet-lab/design', text: 'Design & Experiments' },
      { href: '/wet-lab/results', text: 'Results & Proof of Concept' },
      { href: '/wet-lab/parts', text: 'Parts' },
      { href: '/wet-lab/safety', text: 'Safety' },
    ]} 
    current="Parts"
    slot="extra-navigation"
  />
  <div slot="main">
    <Content />
    <References bibliography={frontmatter.bibliography} />
  </div>
</ThreeColumnLayout>
