@import "tailwindcss";

@theme {
  --color-primary-bg: #de3910;
  --color-primary-fg: #dcfaf6;
  --color-secondary-fg: #8328eb;
  --font-primary: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-primary;
}

h1 {
  @apply text-3xl pb-2 text-center mt-5 mb-12 border-b-primary-bg border-b-4;
}

h2 {
  @apply text-2xl pb-1 mt-5 mb-2 border-b-primary-bg border-b-2 max-w-[30ch];
}

h3 {
  @apply text-lg font-semibold mt-5 mb-2;
}

p {
  @apply mt-2 mb-8;
}

.citation {
  @apply text-secondary-fg;
}

a:hover {
  @apply underline;
}
