@import "tailwindcss";

@theme {
  --color-primary-bg-100: #e36646;
  --color-primary-bg-500: #de3910;
  --color-primary-bg-900: #ab2a0a;
  --color-primary-fg-100: #82f5e5;
  --color-primary-fg-500: #dcfaf6;
  --color-primary-fg-900: #f2f7f7;
  --color-secondary-fg-100: #c299f2;
  --color-secondary-fg-500: #8328eb;
  --color-secondary-fg-900: #6608d1;
  --font-primary: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-primary;
}

h1 {
  @apply text-3xl pb-2 text-center mt-5 mb-12 border-b-primary-bg-500 border-b-4;
}

h2 {
  @apply text-2xl pb-1 mt-5 mb-2 border-b-primary-bg-500 border-b-2 max-w-[30ch];
}

h3 {
  @apply text-lg font-semibold mt-5 mb-2;
}

p {
  @apply mt-2 mb-8;
}

.citation {
  @apply text-secondary-fg-500;
}

a:hover {
  @apply underline;
}
