---
import '@/styles/global.css'
import Layout from '@/layouts/Layout.astro';
import ColourSample from '@/components/ColourSample.astro';
---

<Layout>
  <div slot="main">
    <h1>
      This is the first heading
    </h1>
    <h2>
      This is the second heading
    </h2>
    <h3>
      This is the third heading
    </h3>
    <h4>
      This is the fourth heading
    </h4>
    <h5>
      This is the fifth heading
    </h5>
    <h6>
      This is the sixth heading
    </h6>

    <p>
      This is a paragraph.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque eu tempor elit. Curabitur tincidunt turpis ac
      eros elementum, id scelerisque ipsum tempus. Cras non lacus
      libero. In sodales odio non lectus maximus, nec laoreet leo
      iaculis. Cras enim massa, semper ut gravida quis, consequat
      eu velit. Nunc cursus molestie malesuada. Nam lorem leo,
      dapibus rutrum volutpat eu, pretium quis turpis. Donec ac mi
      ac ipsum placerat vulputate id eu leo. Proin egestas enim risus,
      ac posuere dolor consequat id. Nulla rutrum vel tortor nec
      imperdiet. Nunc posuere nunc ac lacinia bibendum. Phasellus
      pulvinar, justo ut gravida fermentum, sapien velit viverra
      nulla, eu consequat sem augue sit amet mauris.
    </p>

    <div class="flex flex-col w-64 gap-4">
      <ColourSample color='bg-primary-bg-900' />
      <ColourSample color='bg-primary-bg-500' />
      <ColourSample color='bg-primary-bg-100' />
      <ColourSample color='bg-primary-fg-900' />
      <ColourSample color='bg-primary-fg-500' />
      <ColourSample color='bg-primary-fg-100' />
      <ColourSample color='bg-secondary-fg-900' />
      <ColourSample color='bg-secondary-fg-500' />
      <ColourSample color='bg-secondary-fg-100' />
    </div>
  </div>
</Layout>
