---
import '@/styles/global.css'
import ColourSample from '@/components/ColourSample.astro';
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro';

---
<style>
</style>

<script>
  const section = document.querySelector("#circle-section");
  const img = document.querySelector(".circle-img") as HTMLImageElement;

  window.addEventListener("scroll", () => {
    if (!section || !img) return;

    const DIAMETER = 1000;

    const rect = section.getBoundingClientRect();
    const windowHeight = window.innerHeight;

    const targetHeight = windowHeight / 2;

    const x = Math.min(Math.max(rect.top - targetHeight, - DIAMETER / 2), DIAMETER / 2);
    const angle = Math.acos(x / (DIAMETER / 2));
    const degrees = angle * (180 / Math.PI);

    const rotationAngle = -90 + degrees;

    img.style.transform =
      `
        translate(-50%, -50%)
        rotate(${rotationAngle}deg)
        translateX(${DIAMETER / 2}px)
      `;
  });

</script>

<ThreeColumnLayout>
  <div slot="main">
    <h1>
      This is the first heading
    </h1>
    <h2>
      This is the second heading
    </h2>
    <h3>
      This is the third heading
    </h3>
    <h4>
      This is the fourth heading
    </h4>
    <h5>
      This is the fifth heading
    </h5>
    <h6>
      This is the sixth heading
    </h6>

    <p>
      This is a paragraph.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque eu tempor elit. Curabitur tincidunt turpis ac
      eros elementum, id scelerisque ipsum tempus. Cras non lacus
      libero. In sodales odio non lectus maximus, nec laoreet leo
      iaculis. Cras enim massa, semper ut gravida quis, consequat
      eu velit. Nunc cursus molestie malesuada. Nam lorem leo,
      dapibus rutrum volutpat eu, pretium quis turpis. Donec ac mi
      ac ipsum placerat vulputate id eu leo. Proin egestas enim risus,
      ac posuere dolor consequat id. Nulla rutrum vel tortor nec
      imperdiet. Nunc posuere nunc ac lacinia bibendum. Phasellus
      pulvinar, justo ut gravida fermentum, sapien velit viverra
      nulla, eu consequat sem augue sit amet mauris.
    </p>
    <p>
      This is another paragraph.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque eu tempor elit. Curabitur tincidunt turpis ac
      eros elementum, id scelerisque ipsum tempus. Cras non lacus
      libero. In sodales odio non lectus maximus, nec laoreet leo
      iaculis. Cras enim massa, semper ut gravida quis, consequat
      eu velit. Nunc cursus molestie malesuada. Nam lorem leo,
      dapibus rutrum volutpat eu, pretium quis turpis. Donec ac mi
      ac ipsum placerat vulputate id eu leo. Proin egestas enim risus,
      ac posuere dolor consequat id. Nulla rutrum vel tortor nec
      imperdiet. Nunc posuere nunc ac lacinia bibendum. Phasellus
      pulvinar, justo ut gravida fermentum, sapien velit viverra
      nulla, eu consequat sem augue sit amet mauris.
    </p>

    <div class="flex flex-col w-64 gap-4">
      <ColourSample color='bg-primary-bg-900' />
      <ColourSample color='bg-primary-bg-500' />
      <ColourSample color='bg-primary-bg-100' />
      <ColourSample color='bg-primary-fg-900' />
      <ColourSample color='bg-primary-fg-500' />
      <ColourSample color='bg-primary-fg-100' />
      <ColourSample color='bg-secondary-fg-900' />
      <ColourSample color='bg-secondary-fg-500' />
      <ColourSample color='bg-secondary-fg-100' />
    </div>
    <div class="h-[500pt] bg-amber-200 w-full relative" id="circle-section">
      <img class="animated circle-img" src="https://static.igem.wiki/teams/4615/wiki/graphics/igem-toronto.png">
    </div>
  </div>
</ThreeColumnLayout>
