---
import '@/styles/global.css'
import { Content, getHeadings, frontmatter } from '@/content/entrepreneurship.mdx'
import Sidebar from '@/components/Sidebar.astro'
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro'
---

<ThreeColumnLayout>
  <Sidebar headings={getHeadings()} slot="sidebar" />
  <div slot="main">
    <Content />
  </div>
</ThreeColumnLayout>
