---
import '@/styles/global.css'
import Layout from '@/layouts/Layout.astro';
import Home_Placeholder from '@/components/Home_Placeholder.astro'
---

<Layout>
  <div slot="content">
    We are the 2025 iGEM team from the University of Toronto, working on phage therapy by using AI to find effective strands to tackle E. coli infections.  
    <br />
    <br />
    For more information, please visit <a href="https://igem.skule.ca" target="_blank" rel="noopener noreferrer" style="text-decoration: underline; color: #1a0dab;">https://igem.skule.ca</a>.  
    <br />
    <br />
    The page is under construction. Please check back later.
    
    <Home_Placeholder/>
  </div>
  
</Layout>
