---
import '@/styles/global.css'
import Layout from '@/layouts/Layout.astro';
---

<Layout footerBg="linear-gradient(180deg, #498da1, #bec4c6, #bec4c6)">
  <div class="special-gradient-wrapper" slot="content">
    <img src="https://static.igem.wiki/teams/5708/images/mystiphage.webp" style="display: block; margin: 0 auto; vertical-align: middle; width: 60vw; height: auto;">
    We are the 2025 iGEM team from the University of Toronto, working on phage therapy by using AI to find effective strands to tackle E. coli infections.  
    <br />
    <br />
    For more information, please visit <a href="https://igem.skule.ca" target="_blank" rel="noopener noreferrer" style="text-decoration: underline; color: #1a0dab;">https://igem.skule.ca</a>.  
    <br />
    <br />
    The page is under construction. Please check back later.
  </div>
</Layout>

