---
import '@/styles/global.css'
import { Content, getHeadings, frontmatter } from '@/content/human-practices.mdx'
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro'
import Sidebar from '@/components/Sidebar.astro'
import References from '@/components/References.astro'
---

<ThreeColumnLayout>
  <Sidebar headings={getHeadings()} slot="sidebar" />
  <div slot="main">
    <Content />

    <References bibliography={frontmatter.bibliography} />
  </div>
</ThreeColumnLayout>
