---
import '@/styles/global.css'
import { Content, getHeadings, frontmatter } from '@/content/software.mdx'
import ThreeColumnLayout from '@/layouts/ThreeColumnLayout.astro'
import Sidebar from '@/components/Sidebar.astro'
import References from '@/components/References.astro'
---

<ThreeColumnLayout
  headerIconSrc="https://static.igem.wiki/teams/5708/headericons/software.webp">
  <Sidebar headings={getHeadings()} slot="sidebar" />
  <div slot="main">
    <Content />
  </div>
</ThreeColumnLayout>
