---
import '@/styles/global.css'
import Layout from '@/layouts/Layout.astro';
import PresTeamCard from '../components/PresTeamCard.astro';
import ColourMemberCard from '../components/ColourMemberCard.astro';
import WhiteMemberCard from '../components/WhiteMemberCard.astro';
---

const { parse } = require('csv-parse/sync');

async function csv_to_json() {
  
  const DEFAULT_IMAGE_URL = 'https://static.igem.wiki/teams/5230/headshots/plasmid-placeholder.png';
  const TEAM_SHEET_URL = "https://docs.google.com/spreadsheets/d/1ka_LcPMf5qNfsNNYSSbXgu-1niyEUkUJg8oVA4Xzppk/gviz/tq?tqx=out:csv&sheet=Sheet1";
  
  const response = await fetch(TEAM_SHEET_URL);
  const csv_data = await response.text();

  const team = parse(csv_data, {
    columns: ['name', 'role', 'description', 'imageSrc', 'linkedIn', 'email', 'website', 'unused'],
    from_line: 2, 
    skip_empty_lines: true,
    on_record: (member) => {
      
      const contact = {
        
        linkedin: member.linkedIn,
        email: member.email,
        website: member.website
   
      };

      return {
        name: member.name,
        role: member.role,
        description: member.description,
        imageSrc: DEFAULT_IMAGE_URL,
        contact: contact, 
      };
    }
  });
}

csv_to_json();


<Layout>
  <div slot="content" class="px-64 my-16">
    <h1 class="text-10xl font-bold text-center mb-4">Meet the team!</h1>
    <h4 class="text-center mb-8">Co-Presidents</h4>

    <!-- co pres -->
    <div class="flex flex-wrap justify-center gap-6 mb-4">
      <PresTeamCard
        name="John Doe"
        description="John is a passionate leader with a background in synthetic biology. He loves to explore new ideas and push the boundaries of science."
        image="/favicon/apple-touch-icon.png"
        contact={{
          linkedin: "https://www.linkedin.com/in/johndoe",
          email:"abbyabby.lui@gmail.com",
          website: "https://2024.igem.wiki/utoronto/description.html"}}
        position="Co-President"

      />
      <PresTeamCard
        name="Jane Smith"
        position="Co-President"
        image="/favicon/apple-touch-icon.png"
      />
      <PresTeamCard
        name="Alice Johnson"
        position="Co-President"
        image="/favicon/apple-touch-icon.png"
      />
    </div>

    <!-- wet lab -->
    <div class="bg-primary-bg-500 bg-opacity-50 p-4 rounded-lg ">
      <h4 class="text-white text-center mb-8">Wet Lab</h4>   
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        <ColourMemberCard
          name="John Doe"
          position="Wet Lab Lead"
          image="/favicon/apple-touch-icon.png"
          contact={{
            linkedin: "https://www.linkedin.com/in/johndoe",
            email:"abbyabby.lui@gmail.com",
            website: "https://2024.igem.wiki/utoronto/description.html"}}
        />
        <ColourMemberCard
          name="Jane Smith"
          position="Wet Lab Lead"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        <ColourMemberCard
          name="John Doe"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Jane Smith"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <ColourMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
      </div>
    </div>
    <!-- Dry lab -->
    <div class=" bg-opacity-50 p-4 rounded-lg ">
      <h4 class="text-center mb-8">Dry Lab</h4>   
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        <WhiteMemberCard
          name="John Doe"
          position="Wet Lab Lead"
          image="/favicon/apple-touch-icon.png"
          contact={{
            linkedin: "https://www.linkedin.com/in/johndoe",
            email:"abbyabby.lui@gmail.com",
            website: "https://2024.igem.wiki/utoronto/description.html"}}
        />
        <WhiteMemberCard
          name="Jane Smith"
          position="Wet Lab Lead"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        <WhiteMemberCard
          name="John Doe"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Jane Smith"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
        <WhiteMemberCard
          name="Alice Johnson"
          position="Wet Lab"
          image="/favicon/apple-touch-icon.png"
        />
      </div>
    </div>
    
    
  </div>
</Layout>
