---
import Navigation from "./navigation/Navigation.astro";
---

<header class="flex w-full py-2 gap-12 items-center px-8 text-primary-fg-500 bg-primary-bg-900">
  <div class="flex items-center">
    <a href="/" class="text-2xl duration-200 hover:scale-110">
      <img src="https://static.igem.wiki/teams/5708/images/igemto-logo.webp" alt="Logo" class="w-10"/>
      
    </a>
  </div>

  <div class="flex items-center ml-auto">
    <Navigation />
  </div>
</header>
