---
import Navigation from "./Navigation.astro";
---

<header class="flex w-full py-2 gap-12 items-center px-8 text-primary-fg-500 bg-primary-bg-500">
  
  <div class="flex items-center">
    <Navigation />
  </div>

  <div class="flex items-center ml-auto">
    <a href="/" class="text-2xl duration-200 hover:scale-110">
      iGEM Toronto 2025
    </a>
  </div>

</header>
