---
---

<header class="flex w-full py-2 gap-12 items-center px-8 text-primary-fg bg-primary-bg">
  <a href="/" class="text-2xl duration-200 hover:scale-110">
    iGEM Toronto 2025
  </a>
  <nav>
    <ul class="grid grid-cols-8 grid-rows-2 gap-x-8 gap-y-2 mt-2">

      <li>
        <a href="home" class="text-base duration-200 hover:scale-110 inline-block">
          Home
        </a>
      </li>
      
      <li>
        <a href="description" class="text-base duration-200 hover:scale-110 inline-block">
          Description  
        </a>
      </li>

      <li>
        <a href="hardware" class="text-base duration-200 hover:scale-110 inline-block">
          Hardware  
        </a>
      </li>

      <li>
        <a href="human_practice" class="text-base duration-200 hover:scale-110 inline-block">
          Human Practice
        </a>
      </li>

      <li>
        <a href="model" class="text-base duration-200 hover:scale-110 inline-block">
          Model
        </a>
      </li>

      <li>
        <a href="wetlab" class="text-base duration-200 hover:scale-110 inline-block">
          Wetlab
        </a>
      </li>

      <li>
        <a href="finance" class="text-base duration-200 hover:scale-110 inline-block">
          Finance
        </a>
      </li>

      

       <li>
        <a href="entrepreneurship" class="text-base duration-200 hover:scale-110 inline-block">
          Entrepreneurship
        </a>
      </li>

      <! eight element>

      <li>
        <a href="outreach" class="text-base duration-200 hover:scale-110 inline-block">
          Outreach
        </a>
      </li>

      <li>
        <a href="software" class="text-base duration-200 hover:scale-110 inline-block">
          Software  
        </a>
      </li>

       <li>
        <a href="wiki" class="text-base duration-200 hover:scale-110 inline-block">
          Wiki  
        </a>
      </li>

      <li>
        <a href="sponsors" class="text-base duration-200 hover:scale-110 inline-block">
          Sponsors  
        </a>
      </li>

       <li>
        <a href="team" class="text-base duration-200 hover:scale-110 inline-block">
          Team  
        </a>
      </li>

      <li>
        <a href="attributions" class="text-base duration-200 hover:scale-110 inline-block">
          Attributions  
        </a>
      </li>

      <li>
        <a href="contribution" class="text-base duration-200 hover:scale-110 inline-block">
          Contribution  
        </a>
      </li>
    </ul>
  </nav>
</header>
