---
import Navigation from "./navigation/Navigation.astro";
---

<header class="fixed flex w-full py-2 gap-12 items-center px-8 text-primary-fg-500 bg-primary-bg-900 z-100">
  <div class="flex items-center py-2">
    <a href="/" class="text-2xl duration-200 hover:scale-110">
      <img src="https://static.igem.wiki/teams/5708/images/short-logo-cropped-moved.avif" alt="Logo" class="h-14"/>
    </a>
  </div>

  <div class="flex items-center ml-auto">
    <Navigation />
  </div>
</header>
