---
---

<header class="flex w-full py-2 gap-12 items-center px-8 text-primary-fg-500 bg-primary-bg-500">
  <a href="/" class="text-2xl duration-200 hover:scale-110">
    iGEM Toronto 2025
  </a>
  <nav>
    <ul class="flex flex-row">
      <li>
        <a href="description" class="text-lg duration-200 hover:scale-110 inline-block">
          Description  
        </a>
      </li>
    </ul>
  </nav>
</header>
