<header class="w-full bg-primary-bg-500 text-primary-fg-500 p-8 flex flex-row justify-evenly">
  <div class="w-[40%] text-center flex justify-center items-center ">
    <h2 class="text-primary-fg-500">Problem Statement</h2>
  </div>

  <div class="w-[50%] grid grid-cols-5 grid-rows-4 gap-4 p-4">
    <div class="p-4 col-start-1 col-span-2 row-start-1 text-3xl sm:text-4xl md:text-5xl   pb-2 text-center">
      What?
    </div>
     <div class="p-4 col-start-2 col-span-2 row-start-2 text-3xl sm:text-4xl md:text-5xl pb-2 text-center">
        Problem
    </div>
    <div class="p-4 col-start-3 col-span-2 row-start-3 text-3xl sm:text-4xl md:text-5xl pb-2 text-center">
        So What?
    </div>
    <div class="p-4 col-start-4 col-span-2 row-start-4 text-3xl sm:text-4xl md:text-5xl pb-2 text-center text-primary-fg-900">
        Yes, and?
    </div>
  </div>
</header>

