---
import type { BibliographyEntry } from '@/lib/types'

type Props = {
  bibliography: BibliographyEntry[]
}

const { bibliography } = Astro.props
---

<div class="mt-24 mb-20">
  <h2 class="opacity-0 intersect:opacity-100 transition-opacity duration-1000">
    References
  </h2>
  <div class="flex flex-col gap-2 mt-4">
    {
      bibliography.map(entry =>
        <div id={`citation-${entry.citationKey}`} class="flex gap-2">
          <div>
            [{entry.index}]
          </div>
          <div set:html={entry.html} />
        </div>
      )
    }
  </div>
</div>
