---
import Layout from "@/layouts/Layout.astro";

const headerIconSrc = Astro.props['headerIconSrc']
---

<Layout>
  <div slot="content" class="relative">
    <img
      alt="Header Background" class="absolute w-[40vw] right-0 -z-20 hidden lg:block"
      src="https://static.igem.wiki/teams/5708/headericons/header-background-cropped.webp"
      />
    { headerIconSrc &&
      <div class="absolute w-[20vw] right-[8vw] -z-20 top-[8vw] hidden lg:block">
        <img class="w-full" src={headerIconSrc} alt="Header Icon" />
      </div>
    }
    <div class="w-full flex justify-center mt-32 px-16">
      <div class="p-4 bg-white/70 rounded-lg">
        <slot name="extra-navigation" />
      </div>
    </div>
    <article class="py-4 mt-32 mb-32 flex gap-12 justify-center">
      <nav class="xl:flex-[1] flex-[4] hidden lg:block">
        <slot name="sidebar" />
      </nav>
      <main class="px-4 max-w-[80ch] xl:max-w-[90ch] mt-16">
        <slot name="main" />
      </main>
      <div class="flex-1 hidden lg:block relative">
        
      </div>
    </article>
  </div>
</Layout>

