---
import Layout from "@/layouts/Layout.astro";

const headerIconSrc = Astro.props['headerIconSrc']
---

<Layout>
  <div slot="content">
    <article class="py-4 mt-12 mb-32 flex gap-12 justify-center">
      <nav class="xl:flex-[1] flex-[4] hidden lg:block">
        <slot name="sidebar" />
      </nav>
      <main class="px-4 max-w-[80ch] xl:max-w-[90ch] mt-16">
        <slot name="main" />
      </main>
      <div class="flex-1 hidden lg:block relative">
        { headerIconSrc &&
          <div class="bg-primary-bg-500 hidden xl:block w-full sticky top-15">
            <img class="w-[70%] h-[70%]" src={headerIconSrc} alt="Header Icon" />
          </div>
        }
      </div>
    </article>
  </div>
</Layout>

