---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <article slot="content" class="py-4 mt-12 flex gap-12 justify-center">
    <nav class="xl:flex-[1] flex-[4] hidden lg:block">
      <slot name="sidebar" />
    </nav>
    <main class="px-4 max-w-[80ch] xl:max-w-[90ch]">
      <slot name="main" />
    </main>
    <div class="flex-1 hidden lg:block">
      <slot name="right" />
    </div>
  </article>
</Layout>

